@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "JetBrains Mono", monospace;
  background: #18171f;
  color: #e6e5ea;
}

.App {
  margin: auto;
  width: 540px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  color: #817d92;
  font-size: 24px;
  line-height: 32px;
}

.output_wrapper {
  font-size: 24px;
  line-height: 32px;

  display: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: #24232c;
  padding: 19px 32px;
}

.inputs_length {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inputs_wrapper {
  margin-top: 24px;
  width: 100%;
  background: #24232c;
  padding: 32px;
}

.checkBoxs_wrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button {
  cursor: pointer;
  border: none;
  font-size: 18px;
  line-height: 24px;
  padding: 20px;
  width: 100%;
  background: #a4ffaf;
}

.strength_card {
  margin-top: 32px;
  margin-bottom: 32px;
  align-items: center;
  padding: 20px 32px;
  display: flex;
  justify-content: space-between;
  background: #18171f;
}

.strength_wrapper {
  align-items: center;
  display: flex;
  gap: 15px;
}

.bar_wrapper {
  display: flex;
  gap: 8px;
}

.bar {
  height: 28px;
  width: 10px;
  border: 2px solid #e6e5ea;
}

.bar.bar-1:nth-child(1) {
  border: none;
  background-color: #f64a4a;
}

.bar.bar-2:nth-child(-n + 2) {
  border: none;
  background: #fb7c58;
}

.bar.bar-3:nth-child(-n + 3) {
  border: none;
  background: #f8cd65;
}

.bar.bar-4 {
  border: none;
  background: #a4ffaf;
}

.copy_button {
  position: relative;
  cursor: pointer;
}

.rangeval {
  font-size: 32px;
  line-height: 42px;
  color: #a4ffaf;
}

.copied {
  font-size: 18px;
  color: #a4ffaf;
  display: none;
  position: absolute;
  top: 0;
  right: 32px;
}

.copied.active {
  display: block;
}

.strength {
  font-size: 18px;
  line-height: 24px;
  color: #817d92;
}

.strong {
  font-size: 24px;
  line-height: 32px;
  color: #e6e5ea;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 18px;
  }
  .App {
    width: 95%;
  }
}
